.Background {
  position: absolute;
  background-color: black;
  width: 100%;
  min-width: 600px;
}

.Body {
  position: relative;
 
} 

.spacer {
  position: relative;
  padding-bottom: 100px;
  min-height: 600px;
}


.background-image img {
  margin: auto;
  width: 100%;
  position: absolute;
}