.Background {
  position: absolute;
  background-color: black;
  width: 100%;
  min-width: 600px;
}

.Body {
  position: relative;
 
} 


.background-image img {
  margin: auto;
  width: 100%;
  position: absolute;
}