#spot-map{
    height:80vh;
    width: 80%;
    margin-top: 0%;
    border: .3em solid lightcyan;
    border-radius: 2%;
    margin-left: 1%;
    margin-right: 5%;
}

.spot-index {
  color: white;
  padding: 5%;
  width: 80%;
  border-radius: 2%;
  background-color: #aadddd38;
  margin-left: 8%;
  display: flex;
  flex-direction: column;
}

.flex{
    display: flex;
}

.mini-flex{
    margin-right: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.mini-flex > div{
    color: white;
}

#yo-spots{
    margin-right:15%;
}

#create{
    text-decoration: none;
    padding: .5em;
    background-color: lightcyan;
    border-radius: .3em;
    font-size: medium;
    margin-bottom: 1vh;
    font-weight: bolder;
}

#create:hover{
    background-color: cyan;
}

.spots{
    color:white;
    padding: 1vh;
    border: .1em solid rgba(0, 0, 255, 0.603);
    border-radius: .3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1vh;
    width: 20vw;
}

#name{
    font-size: larger;
    color: rgb(202, 202, 202);
    font-weight: bolder;
}

#name:hover{
    cursor: pointer;
    color:rgba(177, 177, 177, 0.6);
}

.spot-buttons-div {
display: flex;
justify-content: flex-end;
}
.spot-buttons{
    display: flex;
    /* justify-content: flex-end; */
    padding: 1vh 1vw 1vh 1vw;
    /* padding-bottom: .1vh; */
    width: 17vw;
    right: 0;
   
  
}
.spot-buttons > li {
    padding: 0 1vw 1vh 1vw;
    display: flex;
    justify-content: center;
    width: 8vw;
   
    
}
.spot-buttons > li > button {
    width:6vw;
    height: 5vh;
    border-radius: 10%;
    background-color: #cacaca;
    font-size: 0.7em;
    padding: 1vh 1vw 1vh 1vw;
 
    
}