#spot-map{
    height:500px;
    width: 100%;
    margin-top: 20px;
    border: 5px solid lightcyan;
    border-radius: 5px;
    margin-left:10%;
    margin-right:10%;
}

.spot-index{
    color: white;
  padding: 30px;
  width: 80%;
  border-radius: 2%;
  background-color: #aadddd38;
  color: white;
    margin-left: 8%;
  display: flex;
  flex-direction: column;
}

h1{
    margin-left: 20%;
    color:white;
}

.flex{
    display: flex;
}

.mini-flex{
    margin-right: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.mini-flex > div{
    color:white
}

#yo-spots{
    margin-right:15%;
}

#create{
    text-decoration: none;
    background-color: lightcyan;
    border-radius: 5px;
    font-size: medium;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bolder;
}

#create:hover{
    background-color: cyan;
}

.spots{
    color:white;
    border: 2px solid cyan;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.7em;
    width:100%;
    padding:7px;
}

#name{
    font-size: larger;
    font-weight: bolder;
}

#name:hover{
    cursor: pointer;
    color:cyan;
}