.SiteHeader {
  font-family: Arial, Helvetica, sans-serif;
  background: transparent;
  padding: 20px;
  position: relative;
}

.SiteHeader ul {
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
}

.SiteHeader img {
  width: 50%;
  border-radius: 5px;
}

.SiteHeader a {
  text-decoration: none;
  color: lightgray;
}

.Logo {
  padding-top: 10px;
  height: 70px;
}

.Logo img {
  left: 45%;
  position: absolute;
  height: 50px;
  width: auto;
}

.MenuItems {
  display: flex;
  justify-content: space-around;
}

.MenuItems li {
  padding: 10px;
  margin: 0;
  color: lightgray;
}

.MenuItems li:hover {
  background:rgba(0, 0, 0, 0.5);
}

.Greeting {
  position: absolute;
  right: 5%;
  padding-top: 20px;
  color: white;
}

.Greeting a:hover {
  text-decoration: underline;
}