.SiteHeader {
  font-family: Arial, Helvetica, sans-serif;
  background: transparent;
  padding: 1vh;
  position: relative;
}

.SiteHeader ul {
  border-bottom: .1em solid grey;
  border-top: .1em solid grey;
}

.SiteHeader img {
  width: 50%;
  border-radius: .2em;
}

.SiteHeader a {
  text-decoration: none;
  color: lightgray;
  
}

.Logo {
  padding-top: .1em;
  height: 9vh;
}

.Logo img {
  left: 45%;
  position: absolute;
  height: 8vh;
  width: auto;
}

.MenuItems {
  display: flex;
  justify-content: space-around;
}

.MenuItems li {
  padding: 1%;
  margin: 0;
  color: lightgray;
}

.MenuItems li:hover {
  background:rgba(0, 0, 0, 0.5);
}

.Greeting {
  position: absolute;
  right: 5%;
  padding-top: 20%;
  color: white;
}

.Greeting a:hover {
  text-decoration: underline;
}