#add-spots-map, #show-map{
    margin-top: 5%;
    margin-right: 5%;
    height:300px;
    width:50%;
    border: 5px solid lightcyan;
    border-radius: 5px;
}

#delete-button{
  width:80px;
}

.create-spot{
    display:flex;
}

.spot-form{
    margin-left:2%;
    padding:4%;
    color:white;
    text-shadow: 2px 2px black;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.surfspot-content{
  color: white;
  padding: 30px;
  width: 80%;
  border-radius: 2%;
  background-color: #aadddd38;
  color: white;
  display: flex;
  flex-direction: column;
}

#rev{
  font-size: larger;
  font-weight: bolder;
}

#create-button{
    text-decoration: none;
    background-color: lightcyan;
    border-radius: 5px;
    font-size: medium;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bolder;
}

#create-button:hover{
    background-color: cyan;
}

.create-spot{
  color: white;
  padding: 30px;
  width: 80%;
  border-radius: 2%;
  background-color: #aadddd38;
  color: white;
  margin-left: 7%;
}


.surfspot-container {
  display: flex;
  justify-content: center;
}

.surfspot-map-and-content {
  display: flex;
  align-items: center;
}

.surfspot-desc-and-metrics {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.surfspot-metrics {
  display: flex;
  flex-direction: column;
}

.surfspot-title {
  text-align: center;
  margin: 0%;
}

.surfspot-review-form{
  display: flex;
  flex-direction: column;
  font-size: larger;
  width:40%;
  max-width: 400px;
  min-width: 300px;
}


.surfspot-review-form input,textarea {
  border-radius: 5%;
  width:100%;
}

.surfspot-reviews{
  display: flex;
  flex-direction: column;
}

.surfspot-reviews ul {
  /* padding: 10px; */
}

.show-buttons{
    text-decoration: none;
    background-color: lightcyan;
    border-radius: 5px;
    font-size: medium;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bolder;
}

.show-buttons:hover{
    background-color: cyan;
}

#wavy{
  height:30px;
  border-radius: 50%;
}

.surfspot-container h2 {
  border-bottom: 1px solid;
}

.difficulty {
  margin-left: 5px;
  padding-left: 5px;
  border-left: 1px solid;
}

.surfspot-rating {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 10px;
}

.review-wrapper {
  border: 1px solid rgba(227, 227, 227, 0.32);
  margin-bottom: 10px;
  padding: 10px;
}