#add-spots-map, #show-map{
    margin-top: 5%;
    margin-right: 5%;
    height:300px;
    width:50%;
    border: 5px solid lightcyan;
    border-radius: 5px;
}

.create-spot{
    display:flex;
}

.spot-form{
    margin-left:2%;
    padding:4%;
    color:white;
    text-shadow: 2px 2px black;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.surfspot-content {
  color: white;
  padding: 30px;
  width: 80%;
  border-radius: 2%;
  background-color: #aadddd38;
  color: white;
  display: flex;
  flex-direction: column;
}

.surfspot-container {
  display: flex;
  justify-content: center;
}

.surfspot-map-and-content {
  display: flex;
}

.surfspot-desc-and-metrics {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-evenly;
}

.surfspot-metrics {
  display: flex;
  flex-direction: column;
}

.surfspot-title {
  text-align: center;
  margin: 0%;
}