footer {
  box-sizing: border-box;
  width: 100%;
  background: rgb(41, 41, 41);
  padding: 2%;
  text-align: left;

  bottom:0%;
  /* display: block; */
}


.footerFlex {
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.footer h1 {
  font-size: 1.2em;
  color: rgb(228, 227, 227);
  margin: 2%;
  text-decoration: underline;
}

.footer ul {
  padding: 2%;
}

.footer li {
  line-height: 1.6em;
  font-size: 0.9em;
}

.footer img {
  height: 30%;
  margin-bottom: 60%;
  padding: 1%;
}

.footer a {
  color: lightgray;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}