.footer {
  box-sizing: border-box;
  height: 246px;
  background: transparent;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column wrap;
  -webkit-box-align: center;
  /* background: #555; */
  /* position: relative; */
  padding: 50px 15px;
  position: relative;
  
}

.footerFlex {
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
}

.footer h1 {
  margin-bottom: 30px;
  font-size: 18px;
  color: #fff;
  text-decoration: underline;
}

.footer ul {
  border-radius: 5px;
  padding: 10px;
  background-color: black;
  color: lightgray;
}

.footer li {
  line-height: 26px;
  font-size: 14px;
}

.footer img {
  height: 60px;
  margin-top: 110px;
}

.footer a {
  color: lightgray;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer hr {
  /* justify-content: center; */
  /* border: 0.5px solid #bbb; */
  /* width: 90%; */
}