.SiteHeaderRight {
  /* display: flex; */
  /* align-items: flex-end; */
  font-size: 12px;
  color: #CACACA;
  /* text-align: right; */
  padding-bottom: 20px;
}

.SiteHeaderRight a {
  color: lightgray;
  /* margin: 2px; */
}
