.App {
  text-align: center;
}

.signup-form-container{
  border: 2px solid black;
  border-radius:5px;
  display:flex;
  justify-content: center;
  /* height: 600px; */
  /* background-image: url('https://resizing.flixster.com/eeATIhIgkrUqOpX_yQowSNzdiNQ=/206x305/v1.bTsxMTIzMzY1NjtqOzE4NDAwOzEyMDA7MTUzNjsyMDQ4');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;   */
}