.Splash {
  color: lightgray;
  display: block;
  text-align: center;
}

.Splash h1 {
  font-size: 1.6em;
  padding: 10px;
  margin: 0;
}

.Splash p {
  padding: 10px;
  line-height: 1.6em;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-shadow: 1px 1px black;
  border-radius: 5px;
}

.Splash ul {
  display: flex;
  justify-content: space-evenly;
  padding-top: 40px;
}

.Splash a {
  background-color: rgb(6, 55, 201);
  padding: 10px;
  color: rgb(227, 227, 227);
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid rgb(40, 1, 180);
}

.Splash a:hover {
  background-color: rgba(3, 3, 190, 1);
}

.Text-wrapper {
  margin-left: 10%;
  margin-right: 10%;
  width: 70%;
  padding: 40px;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
}