.Splash {
  color: lightgray;
  display: block;
  text-align: center;
}

.Splash h1 {
  font-size: 1.6em;
  padding: .5em;
  margin: 0;
}

.Splash p {
  padding: .5em;
  line-height: 1.6em;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-shadow: .1em .1em black;
  border-radius: .1em;
}

.Text-wrapper {
  margin-left: 10%;
  margin-right: 10%;
  width: 70%;
  padding: 4%;
  border-bottom: .1em solid grey;
  border-top: .1em solid grey;
}